.BackButton {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  color: inherit;
  text-decoration: none;
  box-shadow: var(--button-shadow);
  transition: box-shadow 0.2s ease-in-out;
  background-color: var(--elements-bg);
  border-radius: 5px;
  width: fit-content;
  padding: 12px 20px;

  font-weight: 700;
}

.BackButton:hover {
  box-shadow: var(--button-shadow-hover);
}

.BackButton__Icon {
  width: 18px;
  height: 18px;
}
