body.light {
  --main-bg: #f9f9f9;
  --elements-bg: #ffffff;
  --font-color: #111517;
  --input-color: #848484;
}
body.dark {
  --main-bg: #202c36;
  --elements-bg: #2b3845;
  --font-color: #ffffff;
  --input-color: #ffffff;
}
